In [1]:
import xmltodict
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'/home/ubuntu/Notebooks'

In [4]:
with open('../xml_comscore/20190610_0246_prev_wk_br_competitive_flash.xml') as fd:
    comscore_flash = xmltodict.parse(fd.read())

In [5]:
GrossData = pd.DataFrame(comscore_flash['RentrakGrossesData']['Gross'])

In [6]:
GrossData.head()

,@Admissions,@CurrencyType,@Date,@Justification,@NumShowings,@RentrakDistributorID,@RentrakReleaseID,@RentrakTheatreID,@Revenue,@ScreenNumber
0,0,BRL,2019-05-30,NE,0,BUENA1,1641351,946361,0,1
1,18,BRL,2019-05-31,NaN,0,BUENA1,1641351,946361,290,1
2,80,BRL,2019-06-01,NaN,0,BUENA1,1641351,946361,1160,1
3,77,BRL,2019-06-02,NaN,0,BUENA1,1641351,946361,1060,1
4,14,BRL,2019-06-03,NaN,0,BUENA1,1641351,946361,140,1

In [7]:
with open('../xml_comscore/20190624_0245_prev_wk_br_competitive_xref.xml') as fd:
    doc = xmltodict.parse(fd.read())

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 433: ordinal not in range(128)

In [23]:
print(xmltodict.__version__)

0.12.0